<#@ include file="__T4Header.t4" once="true" #>
<#@ output extension=".bbcode" encoding="utf-8" #>
<# 
	var mf = new NexusBbcode();
	var Target = Targets.NexusMods; 
#>
<#@ include file="_Urls.t4" once="true" #>
<#@ include file="_Header.t4" once="true" #>

<#@ include file="Features.t4" once="true" #>

<#@ include file="Installation.t4" once="true" #>

<#@ include file="Bugs.t4" once="true" #>

<#@ include file="Credits.t4" once="true" #>

<#@ include file="_Footer.t4" once="true" #>